files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10A_change_ruby_version.sh":
    mode: "000777"
    content: |
      #!/usr/bin/env bash
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_RUBY_VERSION=2.3.1
      echo $EB_RUBY_VERSION > /etc/elasticbeanstalk/.ruby_version
      ln -snf /opt/rubies/ruby-$EB_RUBY_VERSION /opt/rubies/ruby-current
      ln -snf $EB_SCRIPT_DIR/use-app-ruby.sh /etc/profile.d/
